[FTX.AUTHENTIFICATION]
#indiquez ici vos clés API ainsi que le nom de votre sous-compte FTX
apiKey = nWgw
secret = IKAp
subAccountName = bot-bigwill

[SOLDE]
#Indiquez ici combien vous avez mis d'USD sur votre compte de votre poche au total
#Pensez à mettre à jour la somme lorsque vous avez ajouté à nouveau de l'argent
#Permettra au bot de vous indiquer combien vous avez gagné depuis que le bot tourne
#Attention, indiquez le montant en USD, pas en EURO, convertisseur ici au besoin : https://tinyurl.com/bot-eur-to-usd
#Attention, indiquez le montant avec des . et surtout pas des ,
totalInvestment=20.00

#Si vous voulez recevoir une notif telegram à chaque execution du bot,
#Autrement, vous ne recevrez une notification que si le bot fait un changement ou qu'il est 8h, 12h, 18h, 0h
alwaysNotifTelegram=false

[STRATEGIE]
timeframe=1h

[INDICATORS]
aoParam1 = 6
aoParam2 = 22
stochWindow = 14
willWindow = 14

[HYPERPARAMETRES]
#On défini le nombre de positions simultanées (meilleur rendement entre 2 et 3)
maxOpenPosition = 3

stochOverBought = 0.8
stochOverSold = 0.2
willOverSold = -85
willOverBought = -10
TpPct = 0.15

[FICHIER.HISTORIQUE]
#indiquer le chemin où se trouve le fichier historiques-soldes.dat
#example :
#soldeFile=historiques-soldes.dat
soldeFile=/home/ubuntu/bot-bigwill/historiques-soldes.dat